@media all and (max-width: 1048px){
.how{
  display: flex;
  justify-content: space-around;
  .how-top,.how-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  img{
    display: none;
  }
  .how-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top:1rem;right: 2px;
    img{
      display: block;
    }
  }



}
}

@media all and (max-width: 850px){
  .fd-h4{
    width: 100%;background-color: #ffffff;
    margin-bottom: 0;
  }
  .friendlink{
    display: flex;
    justify-content: space-around;

    ul li{
      text-align: left;
      margin-bottom: 2px;
    }
    .friendlink-top{
      display: block;
    }
  }
}


@media all and (max-width: 550px){
.about{
  flex-direction: column;
  div:nth-of-type(4){
    border: 1px #c7c8c9 dashed;
  }
}


  #nav-btn:checked ~ .nav-btngroup{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav{
    padding: 0;
    position: relative;

    &>a{
      display: none;
    }
    >img:nth-of-type(1){
      top: 3rem;
    }
    img{
      display: block;
      position: absolute;
      right:10%;
      top: 1.5rem;
      cursor: pointer;
    }
    .nav-btngroup {
      display: none;
      width: 100%;
      flex-direction: column;
      position: relative;
      top: 6rem;
      a{

        width: 100%;
      }
      a:first-of-type{
        border-top: white 1px solid;
      }
    }

  }

  .how{
    flex-wrap: wrap;
    .how-top,.how-bottom{
      flex-direction: column;
      align-items: center;
      .how-blk{
        margin-right: 0;
      }
      .how-blk p{
        width:12rem;
      }
    }
    img{
      display: none;
    }
    .how-middle{
      display: none;
    }
  }



  .show{
    justify-content: space-around;
  }

  .partner{
    a{
      width:100%;
    }
    justify-content: center;
  }

  .warp{
    span:nth-of-type(1),span:nth-of-type(3){
      display: none;
    }

   justify-content: flex-end;
  }

}
@media all and (max-width: 680px) {
footer{
  .footer-left{
    margin-right: 0;
  }
  .footer-middle{
    width: 70%;
    min-width: 160px;
  }
  flex-direction: column;
  .footer-wecheat{
    width: 73px;
  }
}

}